In [2]:
import pandas as pd 
data= pd.read_csv("bmi.csv")
data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [3]:
del data["Gender"]

In [4]:
data

     Height  Weight  Index
0       174      96      4
1       189      87      2
2       185     110      4
3       195     104      3
4       149      61      3
..      ...     ...    ...
495     150     153      5
496     184     121      4
497     141     136      5
498     150      95      5
499     173     131      5

[500 rows x 3 columns]

In [5]:
data["Index"].value_counts()

5    198
4    130
2     69
3     68
1     22
0     13
Name: Index, dtype: int64

In [8]:
#to convert the categoorical data into numerical data
#data["column name"] = data["column name"].astype('category')
#Categorical Encoding
#data["column name"] = data["column name"].cat.codes

#seperate dependent and independent attributes
Independent = data.drop("Index",axis =1)
Dependent   = data["Index"]

In [9]:
print("The shape of Independent Attributes are  :",Independent.shape)
print("The shape of Dependent Attribute is  :" ,Dependent.shape)

The shape of Independent Attributes are  : (500, 2)
The shape of Dependent Attribute is  : (500,)

In [10]:
Independent

     Height  Weight
0       174      96
1       189      87
2       185     110
3       195     104
4       149      61
..      ...     ...
495     150     153
496     184     121
497     141     136
498     150      95
499     173     131

[500 rows x 2 columns]

In [11]:
Dependent

0      4
1      2
2      4
3      3
4      3
      ..
495    5
496    4
497    5
498    5
499    5
Name: Index, Length: 500, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split  #train test split for modelling
from sklearn.tree import DecisionTreeClassifier      #importing the model
from sklearn.metrics import accuracy_score           #to measure accuracy
#Splitting the data
X_train, X_test, y_train, y_test = train_test_split(Independent,Dependent , test_size=0.2, random_state=11)
X_train

     Height  Weight
14      191      79
493     170      53
56      172      92
266     173     139
179     188     100
..      ...     ...
337     164     126
91      183      96
80      164      75
191     154     100
409     166     133

[400 rows x 2 columns]

In [15]:
y_train

14     2
493    1
56     4
266    5
179    3
      ..
337    5
91     3
80     3
191    5
409    5
Name: Index, Length: 400, dtype: int64

In [16]:
#using the algorithm for Model Training Using Decision Tree
algorithm = DecisionTreeClassifier(random_state=0)
algorithm.fit(X_train,y_train)
print("Training....")

Training....

In [17]:
X_test

     Height  Weight
247     142     159
239     146     110
70      153      51
136     190     156
387     160      83
..      ...     ...
230     186     137
487     187      80
153     168     140
290     156      74
21      153     149

[100 rows x 2 columns]

In [19]:
#Prediction of the model
y_prediction=algorithm.predict(X_test) #this will be a list

In [20]:
y_prediction

array([5, 5, 2, 5, 4, 5, 4, 4, 4, 5, 5, 4, 2, 5, 5, 4, 5, 3, 4, 0, 5, 5,
       4, 1, 2, 3, 5, 5, 2, 5, 1, 5, 5, 5, 5, 5, 5, 2, 2, 1, 4, 3, 4, 4,
       4, 5, 5, 4, 5, 5, 5, 5, 2, 3, 2, 3, 3, 4, 4, 0, 3, 4, 5, 1, 4, 4,
       5, 3, 1, 3, 3, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 3, 5, 1, 5, 5, 3, 4,
       3, 2, 5, 5, 5, 5, 1, 4, 2, 5, 4, 5], dtype=int64)

In [21]:
y_test

247    5
239    5
70     2
136    5
387    4
      ..
230    4
487    2
153    5
290    4
21     5
Name: Index, Length: 100, dtype: int64

In [22]:
print("The accuracy of classifier on test data is : ", accuracy_score(y_test, y_prediction))

The accuracy of classifier on test data is :  0.87